@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap");
html {
    font-family: "Nunito Sans", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: rgb(21, 132, 175) !important;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: 700;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}


/* 
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
} */

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

html {
    font: 112.5%/1.45em "Nunito Sans", sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
}

* {
    box-sizing: inherit;
}

*:before {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

body {
    color: hsla(0, 0%, 0%, 0.8);
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

h1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
    line-height: 2;
}

h3 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.38316rem;
    line-height: 1.75;
}

h4 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.5rem;
    line-height: 1.1;
}

h5 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1.25rem;
    line-height: 1.1;
}

h6 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
}

hgroup {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

ul {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
    list-style: none;
}

ol {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

dl {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

dd {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1.45rem;
    font-size: 0.85rem;
    line-height: 1.42;
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 1.45rem;
}

table {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;
}

fieldset {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

blockquote {
    margin-left: 1.45rem;
    margin-right: 1.45rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

noscript {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

iframe {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: calc(1.45rem - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
}

address {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

b {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

th {
    font-weight: bold;
}

li {
    margin-bottom: calc(1.45rem / 2);
}

ol li {
    padding-left: 0;
}

ul li {
    padding-left: 0;
}

li>ol {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}

li>ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
    margin-bottom: 0;
}

li *:last-child {
    margin-bottom: 0;
}

p *:last-child {
    margin-bottom: 0;
}

li>p {
    margin-bottom: calc(1.45rem / 2);
}

code {
    font-size: 0.85rem;
    line-height: 1.45rem;
}

kbd {
    font-size: 0.85rem;
    line-height: 1.45rem;
}

samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
}

abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}

abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
}

thead {
    text-align: left;
}

td,
th {
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding-left: 0.96667rem;
    padding-right: 0.96667rem;
    padding-top: 0.725rem;
    padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

tt,
code {
    background-color: hsla(0, 0%, 0%, 0.04);
    border-radius: 3px;
    font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

pre code {
    background: none;
    line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
    letter-spacing: -0.2em;
    content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
    content: "";
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}


/* MY STYLES  */


/* GRID LAYOUTS */


/* 2 COLUMN */

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.grid-20 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-gap: 10px 10px;
    margin: 0 auto;
    max-width: 100%;
}

.grid-200 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.grid-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}


/* Products grid */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}


/* Product card  */

.product-card {
    display: block;
    border: 1px solid #eee;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
    max-width: 300px;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}


/* FORM SECTION  - GET A QUICK QUOTE */

.span-col-3 {
    grid-column: span 3 / auto;
    padding: 20px;
}

.container-- {
    display: grid;
    grid-template-areas: "side content";
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    height: 100vh;
}

article {
    grid-area: content;
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: "content" "side";
        grid-template-columns: 1fr;
        grid-template-rows: auto/* Header */
        minmax(75px, auto)/* Nav */
        1fr/* Content */
        minmax(75px, auto)/* Sidebar */
        auto;
        /* Footer */
    }
    nav,
    aside {
        margin: 0;
    }
}


/* CARD CSS */

.card {
    display: block;
    border: 1px solid #eee;
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
    -webkit-transition: -webkit-box-shadow 0.2s;
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.card:hover {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.card-top .gatsby-image-wrapper {
    max-height: 170px;
    min-height: 170px;
    border-radius: 8px;
    padding: 0;
}

.card-action {
    color: #3498db;
}

.text-blue {
    color: rgb(21, 132, 175);
}

.text-orange {
    color: #ef4700;
}

.text-dark {
    color: rgba(0, 0, 0, 0.8);
}


/*  WHY_US */

.why-us {
    display: grid;
    justify-content: center;
    padding-top: 25px;
    background-color: #eee;
}

.bg-light {
    background-color: #f8f8f8;
}

.p-20 {
    padding: 20px !important;
}

.pt-20 {
    padding-top: 20px;
}

.px-20 {
    padding: 0 20px;
}


/* TYPOGRAPHY  */

.primary {
    color: rgb(21, 132, 175);
}

.secondary {
    color: #1584af;
    /* Darker blue  */
}

.text-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.text-shadow-1 {
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.1);
}

.text-shadow-2 {
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4);
}

.heading-box-color {
    background: rgb(21, 132, 175);
    /* background: linear-gradient( 90deg, rgba(21, 132, 175, 1) 50%, rgba(16, 175, 194, 1) 100%); */
    /*  background: #2193b0;
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.1);
}

.heading-box-green {
    background: #10afc2;
    color: #fff;
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.1);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.cap {
    text-transform: uppercase !important;
}

.cam {
    text-transform: capitalize;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
    line-height: 2;
}

.h3 {
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.8);
}

.h4 {
    font-size: 1.5rem;
}

.h5 {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.8);
}

.h6 {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.lead {
    font-size: 18px !important;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.9;
}

.lead-20 {
    font-size: 20px !important;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}


/* HERO SECTION   */

#hero-image {
    height: 65vh;
}

.white-overlay {
    display: -webkit-flex;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.5); */
    height: 100%;
    align-items: center;
}

.hero-box {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-heading-h2 {
    margin-top: -35px;
}

.hero-heading-primary {
    font-size: 3.125rem;
    font-weight: 300;
    color: rgb(21, 132, 175);
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4);
}

.hero-heading-secondary {
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(145, 141, 141);
    text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    letter-spacing: 4.5px;
    word-wrap: break-word;
}

.section {
    margin-top: 2rem;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

textarea,
input {
    opacity: 0.5;
    padding: 10px 0 10px 5px;
    border-radius: 4px;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 5px 0;
    cursor: pointer;
}

.btn-primary {
    /* background-color: #3498db/* #EF4700; */
    /* background: #2193b0; */
    /* background: -webkit-linear-gradient(to right, 21, 132, 175, 1, 21, 132, 175); */
    background: rgb(21, 132, 175);
    background: linear-gradient( 90deg, rgba(21, 132, 175, 1) 50%, rgba(16, 175, 194, 1) 100%);
}

.btn-orange {
    background-color: #ef4700;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 2em;
    border-radius: 2em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    width: -moz-fit-content;
}

.btn:hover {
    opacity: 0.7;
}

.rounded {
    border-radius: 8px;
}

input,
textarea {
    border-color: #2193b0 !important;
}

::placeholder {
    color: #2193b0;
}

.archive-img .gatsby-image-wrapper {
    width: 100%;
    max-width: 200px;
}


/* FOOTER STYLES */

#footer-main {
    background-color: #f8f8f8;
    padding: 60px;
}

.banner-blue {
    height: 200px;
    width: 100%;
    background-color: #1584af;
}

.banner-green {
    height: 62px;
    width: 100%;
    background-color: #10afc2;
}

.green {
    color: #10afc2;
}

.footer-img-wrapper {
    width: 100%;
    margin-top: 40px;
}

.flex {
    display: flex;
}

.footer-img-wrapper .gatsby-image-wrapper {
    width: 100%;
    max-width: 100px;
}

.sensitive-text {
    margin-left: 20px;
    padding: 25px 20px 0 0;
    border-right: 1px solid;
}

.h4.sensitive-heading {
    margin-top: 15px;
    line-height: 1.2em;
    padding-left: 40px;
}

.arctick .gatsby-image-wrapper {
    height: 100%;
    margin-left: 20px;
    margin-top: 25px;
}


/* LARGE SCREENS  */

@media (min-width: 1025px) {
    .section {
        margin-top: 8rem;
    }
}

@media (max-width: 650px) {
    .span-col-3 {
        grid-column: span 4 / auto;
    }
}

@media (max-width: 840px) {
    .hero-heading-secondary {
        letter-spacing: 2.5px;
        font-size: 1.1rem;
    }
}

@media (min-width: 762px) and (max-width: 938px) {
    .hero-heading-secondary {
        letter-spacing: 2.5px;
    }
}

@media (min-width: 300px) and (max-width: 761px) {
    .hero-heading-primary {
        font-size: 2.325rem;
    }
    .hero-heading-secondary {
        display: block;
        letter-spacing: 1.5px;
        font-size: 1.1rem;
        line-height: 21px;
    }
    .hero-heading-h2 {
        margin-top: -15px;
    }
}

@media (max-width: 500px) {
    .heading-box-color {
        font-size: 1.5rem;
    }
}